h1, h2, h3,{
  margin:0;   
}
h1{
  font-size: 16rem;
  color:white;
}
h2{
  font-size: 3rem;
  color:white;
}
h3{
  font-size: 1.4rem;
  color:white;
}
.container{
  max-width:800px;
  height:100vh;
  margin:0 auto;
  display:grid;
  grid-template-rows:20% 80%;
  text-align:center;
  padding:25px 5px;
}

.button{
  background-color: #2c3e50;
  border-radius:8px;
  width: 75px;
  margin:0 auto;
  cursor:default;
  color:white;
  border: 2px solid #c3c3a2;

}
body{
  background-color:#2c3e50;
}